
.modal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-grad {
    background: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
